/* Background for Publications Page */
.page-id-publications .page-header {
  background-image: url('/assets/images/publications_bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}

/* Background for Contact Page */
.page-id-contact .page-header {
  background-image: url('/assets/images/contact_bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}

/* Background for Research Page */
.page-id-research .page-header {
  background-image: url('/assets/images/research_bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}
